html 
    head 
        title Výsledky hry
        style
            include css/styles.css
    body
        h1 #{nadpis}
        table 
            thead 
                tr 
                    th Jméno hráče 
                    th Počet Pokusů
                    th Malé výhry 
                    th Velké výhry
                    th Datum 
                    th Čas 
            tbody 
                each pl in players 
                    tr 
                        td  #{pl.player}        
                        td  #{pl.tries}
                        td  #{pl.smallwins}
                        td  #{pl.bigwins}
                        td  #{pl.date}
                        td  #{pl.time}